@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@font-face {
    src: url(fonts/CircularStd-Bold.otf);
    font-family: spotify;
}
html{
    font-family:  'Poppins',sans-serif;
}
.container {
    color: black;
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
}
body{
    margin: 0px;
}
.logo{
    width: 132px;
    margin-left: 105px;
    margin-top: 20px;
}
.txt1{
    color: white;
    float: right;
    margin-top: 32px;
    column-gap: 34px;
    font-family: spotify,Arial,Helvetica,sans-serif;
    font-size: 15px;
    margin-right: 104px;
    display: flex;
    list-style: none;
    letter-spacing: 0.5px;
    font-weight: 750;
}
.a1{
    text-decoration: none;
    color: white;
}
.a2{
    text-decoration: none;
    color: #d1d1d1;
}
.txtt:hover{
    color: #1ed760;
}
.txt2:hover{
    color: #1ed760;
}
.txt2{
    color: #d1d1d1;
}
.container2{
    width: 100%;
    height: 602px;
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
}
.content{
    width: 35%;
    height: 602px;
    display: flex;
    float: left;
}
.text{
    width: 65%;
    height: 602px;
    float: right;
}
.svg{
    width: 286px;
    height: 573px;
    margin-left: 178px;
    margin-top: 100px;
}
.img2{
    width: 267px;
    height: 445px;
    z-index: 1;
    margin-left: -277px;
    margin-top: 158px;
}
.seperator{
    height: 16px;
    width: 1px;
    background: white;
}
.home_text{
    font-family: spotify,Arial,Helvetica,sans-serif;
    color: white;
    margin-left: 78px;
    font-size: 68px;
    margin-top: 181px;
    font-weight: 1000;
    letter-spacing: -4px;
}    
.button{
    float: left;
    margin-left: 81px;
    margin-top: -33px;
}
.btn{
    background: white;
    border: white;
    border-radius: 30px;
    height: 48px;
    width: 190px;
    transition: .02s;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.06);
}
.btext{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins';
}
.container3{
    width: 100%;
    height: 510px;
}
.text4{
    text-align: center;
    font-size: 24px;
    font-weight: 1000;
    margin-top: 75px;
}
.icon{
    width: 143px;
}
.icon_align{
    display: flex;
    margin-left: 137px;
    column-gap: 101px;
    margin-top: 62px;
    list-style: none;
}
.text_align{
    text-align: center;
    margin-left: -40px;
    margin-top: 36px
}
.icon-text{
    font-family: system-ui;
    margin-top: -11px;
}
.texticon{
    font-size: 18px;
}
.container4{
    width: 100%;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    height: 510px;
    display: grid;
    text-align: center;
    font-family: spotify,Arial,Helvetica,sans-serif;
    font-size: 34px;
    color: white;
    letter-spacing: -2px;
}
.container5{
    width: 100%;
    height: 510px;
}
.text2-align{
    list-style: none;
    margin-top: 87px;
}
.list{
    margin-left: 88px;
    margin-top: 34px;
    font-size: 18px;
    font-family: spotify,Arial, Helvetica, sans-serif;
}
.svg2{
    transform: rotate(180deg);
    stroke-width: 1pt;
    float: right;
    margin-right: 130px;
}
.p{
    margin-left: 96px;
    font-family: system-ui;
    margin-top: 35px;
}
.strong{
    color: #117a37
}
.container6{
    width: 100%;
    height: 428px;
    background: url(https://www.scdn.co/i/free/lets-play.svg) left -10px bottom -160px / 100% 1114px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166)) rgb(108, 14, 224);
    background-repeat: no-repeat;
    display: grid;
    text-align: center;
    font-family: spotify,Arial,Helvetica,sans-serif;
    font-size: 34px;
    color: white;
    letter-spacing: -2px;
}
.button2{
    text-align: center;
    margin-top: -120px;
}
.text6{
    font-size: 81px;
    margin-top: 50px;
}
.container7{
    width: 100%;
    height: 530px;
    background: black;
}
.logo2{
    width: 132px;
    margin-left: 105px;
    margin-top: 80px;
}
.footer-ul{
    color: white;
    list-style: none;
}
.footer-div{
    display: flex;
    margin-top: -44px;
    margin-left: 255px;
    column-gap: 50px;
}
.fhead{
    font-size: 13px;
    letter-spacing: 1px;
    color: #949691;
}
.ftext{
    font-size: 17px;
    font-family: system-ui;
    margin-top: 19px;
}
.ftext:hover{
    color: #1ed760;
    cursor: pointer;
}

.line{
    margin-top: 30px;
    margin-left: 57px;
    margin-right: 105px;
    border-color: #0000000a;
}
.borderic{
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-color: #222326;
    float: right;
}
.svg4{
    margin: 15px;
    fill: white;
}
.svg4:hover{
    fill: #1ed760;
    cursor: pointer;
}

#left {
    float: right;
    margin-left: 17px;
}
#right {
    float: right;
}
#middle{
    margin-left: 17px;
}
.icon-div{
    margin-top: -243px;
    margin-right: 104px;
}
h5{
    color: #949691;
}
.foot-ul{
    color: #949691;
    display: flex;
    list-style: none;
    margin-top: 359px;
    font-family: system-ui;
    font-size: 12px;
    margin-left: 24px;
}
.footer-li{
    margin-left: 31px;

}
.footer-li:hover{
    color: #1ed760;
    cursor: pointer;
}
.footer-li2{
    margin-left: 22px;
    margin-top: 9px;
}
.foot-ul2{
    color: #949691;
    list-style: none;
    font-family: system-ui;
    font-size: 12px;
    float: right;
    margin-top: 348px;
    margin-right: -194px;
}
